option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "backend/production_api:app"
    NumProcesses: 3
    NumThreads: 15
    
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7

  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: t3.medium

  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health

  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role

  aws:elasticbeanstalk:xray:
    XRayEnabled: true
